::before,
*::after {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 800px;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.nav {
}

.time {
  color: black;
  align-items: center;
}
.container {
  width: 800px;
  max-width: 80%;
  justify-content: center;
  border: 2px;
  border-color: black;
}

.jumbotron {
  margin: 0px 0px 0px 0px;
  padding-bottom: 50px;
}

#question1 {
}
